body {
  font-size: 14px;
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

h3 {
  margin: 0;
  font-size: 28px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-size: 14px;
  line-height: 60px;
  width: 100%;
  background: #fff;
  a, a:hover {
    color: #343a40;
    cursor: pointer;
    text-decoration: none;
  }
}

.btn.btn-primary {
  color: #007bff;
  background: #fff;
  border: 1px solid #007bff;
  &:hover {
    color: #fff;
    background: #007bff;
  }
}

.container {
  min-width: 960px;
  padding: 0;
  width: 100%;
  .row {
    margin: 0;
    width: 100%;
  }
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.row-action {
  width: 25px;
  height: 25px;
}