html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.row {
  display: flex;
  flex-direction: row;
  width: 1000px;
  justify-content: space-around;
}
.picture-section {
  width: 300px;
  img {
    width: 100%;
  }
}

.form-signin {
  align-self: top;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: normal;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: 36px;
    padding: 10px;
    font-size: 14px;
  }
  input {
    margin-bottom: 10px;
    margin-left: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  button {
    height: 32px;
    font-size: 16px;
  }

}


/*.form-signin input[type="text"] {*/
  /*margin-bottom: -1px;*/
  /*border-bottom-right-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
/*}*/
