html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.row {
  display: flex;
  flex-direction: row;
  width: 1000px;
}

.picture-section {
  width: 460px;
  img {
    width: 100%;
  }
}
.form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.form-signin {
  padding: 15px;
  margin: 0 auto;
  width: 430px;
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 20px;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
  }

  input {
    height: 48px;
    margin-bottom: 16px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  button {
    height: 40px;
    font-size: 16px;
    margin-top: 8px;
  }

}


/*.form-signin input[type="text"] {*/
  /*margin-bottom: -1px;*/
  /*border-bottom-right-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
/*}*/
