.information .fieldSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.fieldSection .item {
    width: 230px;
    margin-bottom: 10px;
}

.item .select {
    display: inline-block;
    width: 134px;
}

.item .title {
    margin-right: 10px;
    font-weight: bold;
}

.modal-open .modal {
    overflow: scroll;
}

.deposit-dialog .modal-dialog{
    width: 1000px;
}