html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

/*.form-signin input[type="text"] {*/
  /*margin-bottom: -1px;*/
  /*border-bottom-right-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
/*}*/
.form-signin input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
