{% extends 'base.html' %}

{% block content %}

{% load static %}
<!-- Custom styles for this template -->
<link href="{% static 'style/login.css' %}" rel="stylesheet">

<form class="form-signin" method="post" action="/merchant/login/">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
    {% if  message %}
        <div class="ct-box error-box">
            <p class="errornote">{{ message }}</p>
        </div>
    {% endif %}
    <label for="inputEmail" class="sr-only">账号</label>
    {{ login.username  }}
    <label for="inputPassword" class="sr-only">密码</label>
    {{ login.password  }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
</form>
{% endblock %}
