{% extends 'base.html' %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-body">
        {% if  message %}
            <div class="ct-box error-box">
                <p class="errornote">{{ message }}</p>
            </div>
        {% endif %}
        <div class="form-section">
            <form method="post" class="form-register" action="{% url 'merchant:register' %}">
                {% csrf_token %}
                <div class="form-group">
                    <i class="far fa-user"></i>
                    {{ forms.username }}
                </div>
                <div class="form-group">
                    <i class="fas fa-lock"></i>
                    {{ forms.password }}
                </div>
                <div class="form-group">
                    <i class="fas fa-lock"></i>
                    {{ forms.password1 }}
                </div>
                <div class="form-group">
                    <i class="fas fa-mobile-alt"></i>
                    {{ forms.mobile }}
                </div>
                <div class="form-group">
                    <i class="far fa-building"></i>
                    {{ forms.name }}
                </div>
                <div class="form-group">
                    <i class="fas fa-map-marker-alt"></i>
                    {{ forms.address }}
                </div>
                <div class="form-group">
                    <i class="fas fa-map-marker-alt"></i>
                    {{ forms.email }}
                </div>
                <div class="form-group">
                    <i class="fas fa-paper-plane"></i>
                    {{ forms.dingding}}
                </div>
                <div class="form-group">
                    <label >验证码: </label>
                    {{ forms.captcha }}
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}