{% extends 'base.html' %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-body">
        {% if  message %}
            <div class="ct-box error-box">
                <p class="errornote">{{ message }}</p>
            </div>
        {% endif %}

        <form method="post" action="{% url 'merchant:register' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ forms.username }}
            </div>
            <div class="form-group">
                {{ forms.password }}
            </div>
            <div class="form-group">
                {{ forms.password1 }}
            </div>
            <div class="form-group">
                {{ forms.mobile }}
            </div>
            <div class="form-group">
                {{ forms.name }}
            </div>
            <div class="form-group">
                {{ forms.address }}
            </div>
            <div class="form-group">
                {{ forms.email }}
            </div>
            <div class="form-group">
                {{ forms.dingding}}
            </div>
            <div class="form-group">
                <label >验证码: </label>
                {{ forms.captcha }}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
        </form>
    </div>
</div>

{% endblock %}